
.jumbotron::before{
  background-color: rgba(0,0,0,0.7);

}

#home{
  
  background-image: url('../img/youtube.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.img-circle {
    border-radius: 50%;
    margin-top: 40px;
}

.typed_wrap {
  background-color: rgba(0,0,0,0.7);
  width: 20%;
  color: white;
  
  padding: 5px;
}

.typed_wrap h6 {
  font-size: 12px!important;
}

/* CSS for experience section */
#expenrience{
  background-color: lightgreen;
  padding:5px;
}
.work_exp{
  background-color: #f9f2f2;
  padding: 10px;
  margin-top: 5px;
  min-height: 200px;
}

.work_exp:hover{
 background-color: rgba(0,0,0,0.7);
  padding: 10px;
  margin-top: 5px;
  min-height: 200px;
  color: white;
}



/* Education Section */

#education{
  background-color: lightblue;
  padding:5px;
  margin-top: 5px;


}


.education{
  background-color: lightgrey;
  min-height: 300px;
  height: 350px;
  padding:5px;
  text-align: center;
   border: 2px solid #ffffff;
}

.education:hover{
  background-color: #d64141;
  color: white;
  box-shadow: 10px 10px 5px grey;
}
.education:hover h4{
  background-color: #ffffff;
  color: black;
}


/*Skills section */

#skills{
  /*background-image: linear-gradient(red, yellow);*/
  background-image: url('../img/b.jpg');
  background-size: cover;
  padding:5px;
  margin-top: 5px;
}
#skill_section{


margin-left: 2px;
margin-right: 2px;
}

/* Project Section */

#projects{
  margin-top: 5px;
  background-color: lightgrey;
}

#btn_container{
  
  margin: 5px;
}
.all_btn{
  height: 30px;
  width: 50px;
}

.php_btn{
  height: 30px;
  }

.dotnet_btn{
  height: 30px;
}

.all_btn:hover{
  background-color: transparent;
  color: black;
  border: 1px solid black;
   
}
.php_btn:hover{
 background-color: transparent;
  color: black;
  border: 1px solid black;
   
}

.dotnet_btn:hover{
    background-color: transparent;
  color: black;
  border: 1px solid black;
   
}

.content{
 border: 2px solid white;
  height: 250px;
  min-height: 250px;
  padding: 3px;

}
.content:hover,h4:hover{
  text-align: center;
  background-color: rgba(0,0,0,0.7);
  color: white;

}

.content img:hover {
 
  text-align: center;
  text-transform: uppercase;

}




/* Hobbies Section*/
#hobbies{
background-image: url('../img/e.jpg');
background-size: cover;
background-position: center;
margin-top: 2px;
margin-right: auto;
margin-left: auto;
max-height: 500px;

}

.hobbie_container{
  background-color: cornsilk;
  border: 2px solid lightgrey;
 border-bottom-right-radius: 30px;
 border-top-left-radius: 30px;
 box-shadow: 10px 10px 5px grey;

}


.hobbie_container:hover{
text-transform: uppercase;

 box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    
    
}

/* For making iamge center */

img.hobbie_img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Achievement  */
#achievements{
  margin-top: 5px;
  background-color: #86a586;
}

.achievements_container{
  line-height: 30px;
}
/* Hiding li default style*/
li{
  list-style: none;
}

/* making trophy color and size */
.fa-trophy::before {
    font-size: 20px;
    color: gold;
    padding: 3px;
}

.achievements_container ul li:hover{
  background-color: rgba(0,0,0,0.7);
  color: white;
  cursor: pointer;
  font-size: 15px;
}

/* Footer section*/

#contact{
  background-color: rgba(0,0,0,0.7);
  height: 100px;
  text-decoration: none;

}

.myfooter{
  text-decoration: none;
  text-align: center;

}

.myfooter a{ 
  color: white;

}

.mail{
  color: white;
}


.fa-github{
  font-size: 25px;
}





.fa-linkedin-square{
  font-size: 25px;
}

.fa-stack-overflow{
  font-size: 25px;
}

.fa-envelope{
  font-size: 25px;
}

/* making Scroll behavior smooth*/

html {
  scroll-behavior: smooth;
 
}


/* Change navbar color*/
.navbar-inverse {
    background-color: #4b526d;
    border-color: #080808;
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: #f1e6e6;
}

/*  CSS for Typing Effects  */


.typed_wrap {
  display: block;
  
  padding: 20px;
  
  /*centers it in the .banner*/
  position: absolute;
  top: 50%;
  left: 43%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.typed_wrap h6 {
  display: inline;
  color:white;
}

/*Add custom cursor so it auto inherits font styles*/
.typed::after {
  content: '|';
  display: inline;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor{
   opacity: 0;
  display: none;
}
/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}




@media only screen and (min-width : 320px) and (max-width:479px) {
body {
    
  }

  .img-circle {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
}

.intro {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    color: white;
    padding: 5px;
}

.content {
    border: 2px solid #a59a9a;
    height: 300px;
    min-height: 250px;
    padding: 5px;
    text-align: center;
}

 #achievements {
    margin-top: 5px;
    background-color: #86a586;
    margin-top: 57px;
}

#skills {
    /* background-image: linear-gradient(red, yellow); */
    background-image: url(../img/b.jpg);
    background-size: cover;
    padding: 5px;
    /* margin-top: 5px; */
}

#contact {
    background-color: rgba(0,0,0,0.7);
    height: 160px;
    text-decoration: none;
    line-height: 22px;
}
}

/* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:320px)  { 

  }
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px)


